@font-face {
    font-family: "Pretendard-Regular";
    src: url("fonts/Pretendard-Regular.otf") format("opentype");
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
  }

body {
    margin: 0;
    font-weight: 100;
    background-color: rgb(0, 0, 0);
}

a, a:hover, a:link, a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(66, 203, 221);
}



/* 메인 - 메인 레이어에 페이지 타이틀, 콘텐츠(팀원 카드), 로고를 차례로 이어가는 구조. 
    position을 relative로 설정해야 하나의 레이어에 배치되어서 자동으로 정렬됨 */
#main-container {
    position: relative;
    width: 65%;
    /*height: 2000px;*/
    margin: 0 auto;
    /*background-color: aquamarine;*/
}

#chara_title_box {
    position: relative;
    width: 100%;
    height: 150px;
    margin-top: 120px;
    margin-bottom: 130px;
    /* background-color: rgb(92, 79, 79); */
}


#chara_title01 {
    position: absolute;
    font-size: 55px;
    text-align: center;
    width: 190px;
    top: 32px;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, 0%); /* 위치 조정 */
    color: rgb(255, 255, 255);
    z-index: 10000;
    background-color: rgb(0, 0, 0);
}

#chara_line {
    position: absolute;
    width: 82%;
    height: 37px;
    top: 70px;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    /* background-color: rgb(35, 35, 35); */
    background: url('img/T_문양\(chara\).png') center/contain no-repeat;
}

/* 팀원 카드는 CSS CLASS로 동일하게 관리 */
.team-container {
    position: relative;
    margin-top: 150px;
    margin-bottom: 48px;
    display: flex;
    gap: 24px;
    justify-content: center; /* flex 아이템을 메인축(가로) 방향으로 가운데 정렬 */
    /*background-color: rgb(87, 64, 64);*/
}
.member-card {
    flex-basis: 25%;
    background-color: transparent;
}

/* .card-image가 아니라 .menber-card 호버 시 이미지가 크게 하면 텍스트 영역(.card-name)에도 호버 적용됨 */
.member-card:hover img {
    transform: scale(1.2);
}


.card-image {
    width: 100%;
    overflow: hidden;
}
.card-image img {
    display: block;
    width: 100%;
    transition: transform 0.5s ease-in-out; /* 마우스를 올렸을 때 부드러운 전환 효과 */
}
.card-name {
    width: 100%;
    height: 50px;
    padding-top: 10px;
    background-color: rgb(181, 181, 181);
    font-size: 12px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.card-image img.hidden {
    opacity: 0; /* 이미지가 숨겨짐 */
}

.card-image img.visible {
    opacity: 1; /* 이미지가 보임 */
}

/* 팀별 고유 색상은 CSS ID로 지정 */
#team-1 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(36, 60, 36) 100%);
}
/* #team-1 .card-name {
    background-color: rgb(181, 181, 181);
} */

#team-2 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(47, 56, 82) 100%);
}

#team-3 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(110, 96, 52) 100%);
}

#team-4 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(87, 87, 87) 100%);
}

#team-5 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(55, 41, 65) 100%);
}
/* .clip2에 마우스를 올렸을 때 이미지 확대 */
.clip2:hover img {
    transform: scale(1.2); /* 이미지 크기 확대 */
    transition: transform 0.3s ease-in-out; /* 부드러운 전환 효과 */
}

/* card-name에 마우스를 올렸을 때 이미지 확대가 적용되지 않도록 조정 */
.card-name:hover {
    transform: none; /* card-name hover 효과가 이미지에 영향을 미치지 않게 */
}



/* ------ 팀 로고 ------ */

#team {
    position: relative;
    margin: 0 auto;
    margin-top: 300px;
    margin-bottom: 70px;
    width: 100%;
    height: 300px;
    background-color: rgb(26, 26, 26);
    opacity: 0; /* 처음에는 불투명도 0으로 설정 */
    transform: translateY(50px); /* 처음 위치에서 50px 아래로 설정 */
    transition: opacity 1s ease, transform 1s ease; /* 1초 동안 애니메이션 */
}

#team.visible {
    opacity: 1; /* visible 클래스가 추가되면 불투명도 1로 변경 */
    transform: translateY(0); /* 요소가 원래 위치로 올라옴 */
}


#team > p {
    position: relative;
    top: 50%;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    margin: 0 auto;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
}



/* ------ 메뉴 ------ */

#logo {
    position: fixed;
    top: 6%;
    right: 4%;
    width: 80px;
    height: 80px;
    /* background-color: rgb(180, 42, 255); */
    z-index: 10000;
    background: url("img/TR.png") 100%/contain no-repeat;
}

#menu_t {
    opacity: 0.0;
    position: fixed;
    width: 130px;
    height: 500px;
    font-size: 20px;
    line-height: 370%;
    text-align: right;
    top: 175px; /* 메뉴 상단 위치 */
    right: 105px;
    padding-right: 35px;
    color: rgb(255, 255, 255);
    z-index: 10000;
    /* background-color: rgb(57, 57, 57); */
    border-right: 3px solid rgb(255, 255, 255);
    overflow: hidden; /* 메뉴 아이템이 영역을 벗어나는 경우 보이지 않게 함 */
}

#menu_t > div { /* 메뉴 아이템(#mainmenu>p)은 opacity를 0, left 값을 크게 하여 시작 시 화면에서 보이지 않게 함 */
    position: relative;
    opacity: 0.0;
    left: 0px;
}

#menu_t:link {
    text-decoration: none;
}
#menu_t:hover {
    text-decoration: none;
}

.m_event {
    text-decoration: line-through;
}

.m_item {
    text-decoration: line-through;
}

.m_system {
    text-decoration: line-through;
}

#home {
    position: fixed;
    color: white;
    top: 26.5px;
    left: 40px;
    z-index: 100000;
}



