@font-face {
    font-family: "Pretendard-Regular";
    src: url("fonts/Pretendard-Regular.otf") format("opentype");
  }

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body {
    margin: 0;
    font-weight: 100;
    height: 8000px;
    background-color: rgb(0, 0, 0);
}

a, a:hover, a:link, a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    color: aqua;
}

/* ------ 메인 ------ */

#logo {
    position: fixed;
    top: 6%;
    right: 4%;
    width: 80px;
    height: 80px;
    /* background-color: rgb(180, 42, 255); */
    z-index: 10000;
    background: url("img/TR\(W\).png") 100%/contain no-repeat;
}

#menu_t {
    /* opacity: 0.0; */
    position: fixed;
    width: 130px;
    height: 500px;
    font-size: 20px;
    line-height: 370%;
    text-align: left;
    top: -500px;
    right: 105px;
    color: rgb(255, 255, 255);
    z-index: 10000;
    /* background-color: rgb(57, 57, 57); */
    border-right: 3px solid rgb(255, 255, 255);
}

#menu_t > div { /* 메뉴 아이템(#mainmenu>p)은 opacity를 0, left 값을 크게 하여 시작 시 화면에서 보이지 않게 함 */
    /* opacity: 0.0; */
    position: relative;
    left: 300px;
}

#menu_t:link {
    text-decoration: none;
}
#menu_t:hover {
    text-decoration: none;
}

#box01 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 89.5%;
    background-color: rgb(41, 41, 41);
}

/* ------ 세계관 ------ */

#story {
    position: relative;
    margin: 0 auto;
    top: 1050px;
    width: 70%;
    height: 630px;
    /* background-color: rgb(26, 26, 26); */
}

#title01 {
    position: absolute;
    font-size: 55px;
    margin: 0 auto;
    text-align: center;
    top: 15%;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    z-index: 10000;
    color: rgb(255, 255, 255);
}

#s_A_line {
    position: absolute;
    width: 70%;
    height: 50px;
    top: 15.5%;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    /* background-color: rgb(35, 35, 35); */

}

.s_L_line {
    position: absolute;
    width: 37%;
    top: 50%;
    z-index: 10000;
    border-top: 1px solid rgb(255, 255, 255);
}

.s_R_line {
    position: absolute;
    width: 37%;
    top: 50%;
    right: 0;
    z-index: 10000;
    border-top: 1px solid rgb(255, 255, 255);
}


#text01 {
    position: absolute;
    font-size: 21px;
    line-height: 150%;
    text-align: center;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    top: 63%;
    width: 100%;
    color: rgb(255, 255, 255);
}

/* ------ 게임 설명 ------ */

#gameEX {
    position: relative;
    margin: 0 auto;
    top: 1160px;
    width: 59%;
    height: 1300px;
    /* background-color: rgb(26, 26, 26); */
}

#title02 {
    position: absolute;
    font-size: 55px;
    margin: 0 auto;
    text-align: center;
    top: 7%;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    z-index: 10000;
    color: rgb(255, 255, 255);
}

#g_A_line {
    position: absolute;
    width: 82%;
    height: 50px;
    top: 7%;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    /* background-color: rgb(35, 35, 35); */

}

.g_L_line {
    position: absolute;
    width: 32%;
    top: 50%;
    z-index: 10000;
    border-top: 1px solid rgb(255, 255, 255);
}

.g_R_line {
    position: absolute;
    width: 32%;
    top: 50%;
    right: 0;
    z-index: 10000;
    border-top: 1px solid rgb(255, 255, 255);
}

#box02 {
    position: absolute;
    top: 220px;
    width: 460px;
    height: 280px;
    background-color: rgb(41, 47, 65);
}

#text02 {
    position: absolute;
    font-size: 17px;
    line-height: 150%;
    text-align: left;
    top: 240px;
    left: 535px;
    z-index: 10000;
    color: rgb(255, 255, 255);
}

.text002 {
    font-size: 27px;
}

#box03 {
    position: absolute;
    top: 580px;
    right: 0;
    width: 460px;
    height: 280px;
    background-color: rgb(41, 47, 65);
}

#text03 {
    position: absolute;
    font-size: 17px;
    line-height: 150%;
    text-align: right;
    top: 600px;
    left: 80px;
    z-index: 10000;
    color: rgb(255, 255, 255);
}

.text003 {
    font-size: 27px;
}

#box04 {
    position: absolute;
    top: 950px;
    width: 460px;
    height: 280px;
    background-color: rgb(41, 47, 65);
}

#text04 {
    position: absolute;
    font-size: 17px;
    line-height: 150%;
    text-align: left;
    top: 970px;
    left: 535px;
    z-index: 10000;
    color: rgb(255, 255, 255);
}

.text004 {
    font-size: 27px;
}

/* ------ 소속 소개 ------ */

#profile {
    position: relative;
    margin: 0 auto;
    top: 1400px;
    width: 76%;
    height: 1250px;
    /* background-color: rgb(26, 26, 26); */
}

#title03 {
    position: relative;
    font-size: 55px;
    margin: 0 auto;
    text-align: center;
    top: 2%;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    z-index: 10000;
    color: rgb(255, 255, 255);
}

#p_A_line {
    position: absolute;
    width: 63.5%;
    height: 50px;
    top: 2%;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    /* background-color: rgb(35, 35, 35); */

}

.p_L_line {
    position: absolute;
    width: 32%;
    top: 50%;
    z-index: 10000;
    border-top: 1px solid rgb(255, 255, 255);
}

.p_R_line {
    position: absolute;
    width: 32%;
    top: 50%;
    right: 0;
    z-index: 10000;
    border-top: 1px solid rgb(255, 255, 255);
}

#A_button01 {
    position: absolute;
    width: 73.5%;
    height: 100px;
    z-index: 10000;
    top: 515px;
    left: 50%;
    transform: translate(-50%, -50%); /* 위치 조정 */
    /* background-color: blueviolet; */
}

#L_button01 {
    position: absolute;
    width: 80px;
    height: 80px;
    /* background-color: rgb(146, 140, 133); */
    overflow: hidden;
}

.L_button01 img {
    max-height: 100%;     /* 높이를 박스에 맞게 조정 */
    object-fit: cover;    /* 이미지 비율을 유지하면서 박스에 맞게 크기를 조정 */
  }

#R_button01 {
    position: absolute;
    width: 80px;
    height: 80px;
    right: 0;
    /* background-color: rgb(146, 140, 133); */
    overflow: hidden;
}

.R_button01 img {
    max-height: 100%;     /* 높이를 박스에 맞게 조정 */
    object-fit: cover;    /* 이미지 비율을 유지하면서 박스에 맞게 크기를 조정 */
  }

#d_text01 {
    position: absolute;
    font-size: 25px;
    top: 1020.5px;
    left: 50%;
    transform: translate(-50%, -50%); /* 위치 조정 */
    z-index: 10000;
    color: rgb(255, 255, 255);
}

#d_button01 {
    position: absolute;
    width: 315px;
    height: 80px;
    top: 1020px;
    left: 50%;
    transform: translate(-50%, -50%); /* 위치 조정 */
    border-radius: 50px;
    border: 2px solid white; /* 흰색 외각선 */
    background-color: transparent; /* 내부는 투명 */
}

#pro_boxA{
    position: relative;
    display: flex;
    justify-content: center; /* flex 아이템을 메인축(가로) 방향으로 가운데 정렬 */
    /* flex-wrap: wrap; */
    width: 67%;
    margin-top: 120px;
    margin-left: 50%;
    transform: translate(-50%, 0%); /* 위치 조정 */
    /* background-color: rgb(87, 64, 64); */
}


.Pro_box01 {
    width: 17%; /* 너비 설정 */
    height: 540px; /* 높이 설정 */
    line-height: 10%; /* 수직 중앙 정렬 */
    background-color: rgb(41, 47, 65); /* 배경색 설정 */
    margin: 0 8.7px;
    overflow: hidden;
    /* clip-path: polygon(0% 0%, 100% 17%, 100% 100%, 0% 83%); /* 사다리꼴 모양 */
}

.Pro_box01 img {
    max-height: 100%;     /* 높이를 박스에 맞게 조정 */
    object-fit: cover;    /* 이미지 비율을 유지하면서 박스에 맞게 크기를 조정 */
  }

.clip {
    clip-path: polygon(0% 0%, 100% 17%, 100% 100%, 0% 83%); /* 사다리꼴 모양 */
}

.clip2 {
    margin-top: 10%;
    clip-path: polygon(0% 0%, 100% 17%, 100% 100%, 0% 83%); /* 사다리꼴 모양 */
    transform: scaleX(-1); /* 좌우 반전 */
}

/* ------ 플레이 사진 ------ */

#gameIMG {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    top: 1550px;
    width: 76%;
    height: 800px;
    /* background-color: rgb(101, 59, 59); */
}

#img01 {
    position: relative;
    width: 65%;
    height: 500px;
    background-color: rgb(41, 47, 65);
}

#img_text01 {
    position: relative;
    width: 65%;
    font-size: 15px;
    padding-top: 20px;
    color: rgb(255, 255, 255);
}

/* ------ 메이드 인 유니티 ------ */

#made_in {
    position: relative;
    margin: 0 auto;
    top: 1580px;
    width: 59%;
    height: 300px;
    background-color: rgb(28, 28, 28);
}

#text05 {
    position: relative;
    font-size: 60px;
    margin: 0 auto;
    text-align: center;
    top: 50%;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    color: rgb(255, 255, 255);
}

/* ------ 팀 화각 ------ */

#team {
    position: relative;
    margin: 0 auto;
    top: 2000px;
    width: 59%;
    height: 1200px;
    /* background-color: rgb(26, 26, 26); */
}

#title04 {
    position: relative;
    font-size: 55px;
    margin: 0 auto;
    text-align: center;
    top: 2%;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    z-index: 10000;
    color: rgb(255, 255, 255);
}

#t_A_line {
    position: absolute;
    width: 82%;
    height: 50px;
    top: 2%;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    /* background-color: rgb(35, 35, 35); */

}

.t_L_line {
    position: absolute;
    width: 32%;
    top: 50%;
    z-index: 10000;
    border-top: 1px solid rgb(255, 255, 255);
}

.t_R_line {
    position: absolute;
    width: 32%;
    top: 50%;
    right: 0;
    z-index: 10000;
    border-top: 1px solid rgb(255, 255, 255);
}

#team_P {
    position: relative;
    width: 100%;
    height: 1020px;
    margin-top: 29px;
    z-index: 10000;
    /* background-color: rgb(42, 42, 42); */
}

#kim {
    position: absolute;
    left: 5%;
    width: 40%;
    height: 450px;
    top: 32px;
    /* background-color: rgb(65, 65, 65); */
}

.pro_k {
    position: relative;
    width: 230px;
    height: 230px;
    top: 150px;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    border-radius: 100%;
    background-color: rgb(155, 155, 155);
}

.name_k {
    position: relative;
    font-size: 12px;
    text-align: center;
    top: 60px;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    color: rgb(255, 255, 255);
}

.text_k {
    position: relative;
    font-size: 15px;
    text-align: center;
    top: 60px;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    color: rgb(255, 255, 255);
}

.text_k2 {
    position: relative;
    font-size: 15px;
    text-align: center;
    top: 60px;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    color: rgb(255, 255, 255);
}

#no {
    position: absolute;
    width: 40%;
    right: 5%;
    height: 450px;
    top: 32px;
    /* background-color: rgb(65, 65, 65); */
}

.pro_n {
    position: relative;
    width: 230px;
    height: 230px;
    top: 150px;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    border-radius: 100%;
    background-color: rgb(155, 155, 155);
}

.name_n {
    position: relative;
    font-size: 12px;
    text-align: center;
    top: 60px;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    color: rgb(255, 255, 255);
}

.text_n {
    position: relative;
    font-size: 15px;
    text-align: center;
    top: 60px;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    color: rgb(255, 255, 255);
}

.text_n2 {
    position: relative;
    font-size: 15px;
    text-align: center;
    top: 60px;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    color: rgb(255, 255, 255);
}

#lee {
    position: absolute;
    left: 5%;
    width: 40%;
    height: 450px;
    top: 555px;
    /* background-color: rgb(65, 65, 65); */
}

.pro_l {
    position: relative;
    width: 230px;
    height: 230px;
    top: 150px;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    border-radius: 100%;
    background-color: rgb(155, 155, 155);
}

.name_l {
    position: relative;
    font-size: 12px;
    text-align: center;
    top: 60px;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    color: rgb(255, 255, 255);
}

.text_l {
    position: relative;
    font-size: 15px;
    text-align: center;
    top: 60px;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    color: rgb(255, 255, 255);
}

.text_l2 {
    position: relative;
    font-size: 15px;
    text-align: center;
    top: 60px;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    color: rgb(255, 255, 255);
}

#lee2 {
    position: absolute;
    right: 5%;
    width: 40%;
    height: 450px;
    top: 555px;
    /* background-color: rgb(65, 65, 65); */
}

.pro_j {
    position: relative;
    width: 230px;
    height: 230px;
    top: 150px;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    border-radius: 100%;
    background-color: rgb(155, 155, 155);
}

.name_j {
    position: relative;
    font-size: 12px;
    text-align: center;
    top: 60px;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    color: rgb(255, 255, 255);
}

.text_j {
    position: relative;
    font-size: 15px;
    text-align: center;
    top: 60px;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    color: rgb(255, 255, 255);
}

.text_j2 {
    position: relative;
    font-size: 15px;
    text-align: center;
    top: 60px;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    color: rgb(255, 255, 255);
}

/* ------ 팀 로고 ------ */

#G_logo {
    position: relative;
    margin: 0 auto;
    top: 2150px;
    width: 59%;
    height: 300px;
    background-color: rgb(26, 26, 26);
}

#text06 {
    position: relative;
    font-size: 60px;
    margin: 0 auto;
    text-align: center;
    top: 50%;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    color: rgb(255, 255, 255);
}