@font-face {
    font-family: "Pretendard-Regular";
    src: url("fonts/Pretendard-Regular.otf") format("opentype");
  }

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body {
    margin: 0;
    font-weight: 100;

    background-color: rgb(0, 0, 0);
}

a, a:hover, a:link, a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(66, 203, 221);
}

/* ------ 메인 ------ */

#logo {
    position: fixed;
    top: 6%;
    right: 4%;
    width: 80px;
    height: 80px;
    /* background-color: rgb(180, 42, 255); */
    z-index: 10000;
    background: url("img/TR.png") 100%/contain no-repeat;
}

#menu_t {
    opacity: 0.0;
    position: fixed;
    width: 130px;
    height: 500px;
    font-size: 20px;
    line-height: 370%;
    text-align: right;
    top: 175px; /* 메뉴 상단 위치 */
    right: 6.4%;
    padding-right: 35px;
    color: rgb(255, 255, 255);
    z-index: 10000;
    /* background-color: rgb(57, 57, 57); */
    border-right: 3px solid rgb(255, 255, 255);
    overflow: hidden; /* 메뉴 아이템이 영역을 벗어나는 경우 보이지 않게 함 */
}

#menu_t > div { /* 메뉴 아이템(#mainmenu>p)은 opacity를 0, left 값을 크게 하여 시작 시 화면에서 보이지 않게 함 */
    position: relative;
    opacity: 0.0;
    left: 0px;
}

#menu_t:link {
    text-decoration: none;
}
#menu_t:hover {
    text-decoration: none;
}

.m_event {
    text-decoration: line-through;
}

.m_item {
    text-decoration: line-through;
}

.m_system {
    text-decoration: line-through;
}

#box01 {
    position: relative;
    margin: 0 auto;
    padding-top: 0px;
    width: 100%;
    height: 800px;
    background-color: rgb(98, 128, 136);
}

#home {
    position: fixed;
    color: white;
    top: 5px;
    left: 40px;
    z-index: 100000;
}

#button_up {
    position: fixed;
    bottom: 55px;
    left: 45px;
    z-index: 10000;

    opacity: 0; /* 처음에는 버튼이 보이지 않도록 설정 */
    transition: opacity 1s ease; /* opacity 애니메이션 */
}

/* ------ 세계관 ------ */

#story {
    position: relative;
    margin: 0 auto;
    margin-top: 300px;
    width: 960px; /* 화면 너비에 맞게 100%로 설정 */
    max-width: 1200px; /* 최대 너비를 설정 (필요에 따라 조정) */
    height: 630px;
    /* background-color: rgb(26, 26, 26); */
    opacity: 0; /* 처음에는 불투명도 0으로 설정 */
    transform: translateY(50px); /* 처음 위치에서 50px 아래로 설정 */
    transition: opacity 1s ease, transform 1s ease; /* 1초 동안 애니메이션 */
}

#story.visible {
    opacity: 1; /* visible 클래스가 추가되면 불투명도 1로 변경 */
    transform: translateY(0); /* 요소가 원래 위치로 올라옴 */
}

#s_title_box {
    position: relative;
    width: 100%;
    height: 195px;
    /* background-color: rgb(95, 130, 118); */
}

#title01 {
    position: absolute;
    font-size: 55px;
    margin: 0 auto;
    text-align: center;
    top: 95px;
    left: 50%; /* 가로 중앙 */
    width: 230px;
    transform: translate(-50%, -50%); /* 위치 조정 */
    z-index: 10000;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

#s_line {
    position: absolute;
    width: 70%;
    height: 37.5px;
    top: 95px;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    /* background-color: rgb(151, 83, 83); */
    background: url('img/T_문양\(story\).png') center/contain no-repeat;
}

#s_text_box {
    position: relative;
    width: 100%;
    height: 430px;
    /* background-color: rgb(113, 107, 99); */
}

#text01 {
    position: absolute;
    font-size: 21px;
    line-height: 150%;
    text-align: center;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, 0%); /* 위치 조정 */
    margin-top: 5px;
    width: 100%;
    color: rgb(255, 255, 255);
    /* background-color: antiquewhite; */
}

/* 스크롤 이벤트에 따라 변하는 스타일 */
.visible {
    opacity: 1;
    transform: translateY(0); /* 원래 자리로 돌아옴 */
}

/* ------ 게임 설명 ------ */

#gameEX {
    position: relative;
    margin: 0 auto;
    margin-top: 300px;
    width: 960px; /* 가로 크기를 더 적게 설정 */
    max-width: 1200px; /* 최대 가로 크기 지정 (예: 1200px로 설정) */
    height: 1220px;
    /* background-color: rgb(26, 26, 26); */
    opacity: 0; /* 처음에는 불투명도 0으로 설정 */
    transform: translateY(50px); /* 처음 위치에서 50px 아래로 설정 */
    transition: opacity 1s ease, transform 1s ease; /* 1초 동안 애니메이션 */
}

#gameEX.visible {
    opacity: 1; /* visible 클래스가 추가되면 불투명도 1로 변경 */
    transform: translateY(0); /* 요소가 원래 위치로 올라옴 */
}

#g_title_box {
    position: relative;
    width: 100%;
    height: 170px;
    /* background-color: rgb(95, 130, 118); */
}

#title02 {
    position: absolute;
    font-size: 55px;
    margin: 0 auto;
    text-align: center;
    width: 300px;
    top: 85px;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    z-index: 10000;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

#g_line {
    position: absolute;
    width: 82%;
    height: 37px;
    top: 85px;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    /* background-color: rgb(35, 35, 35); */
    background: url('img/T_문양.png') center/contain no-repeat;
}

#g_ex_box01 {
    display: flex;
    justify-content: flex-start;
    gap: 79px;
    position: relative;
    width: 100%;
    margin-top: 100px;

    /* background-color: rgb(54, 97, 97); */
}


#box02 {
    position: relative;
    width: 460px;
    height: 280px;
    /* background-color: rgb(41, 47, 65); */
    opacity: 0; /* 처음에는 불투명도 0으로 설정 */
    background: url("img/캡쳐/보스들.png") 100%/cover no-repeat;
    transform: translateX(-100px); /* 처음 위치에서 50px 아래로 설정 */
    transition: opacity 1s ease, transform 1s ease; /* 1초 동안 애니메이션 */

    transition-delay: 0s; /* 첫 번째 박스는 바로 애니메이션 시작 */
}

#box02.visible {
    opacity: 1; /* visible 클래스가 추가되면 불투명도 1로 변경 */
    transform: translateX(0); /* 요소가 원래 위치로 올라옴 */
}


#text02 {
    position: relative;
    font-size: 17px;
    line-height: 150%;
    text-align: left;
    margin-top: 35px;
    z-index: 10000;
    color: rgb(255, 255, 255);
    /* background-color: rgb(63, 58, 51); */
    opacity: 0; /* 처음에는 불투명도 0으로 설정 */
    transform: translateX(100px); /* 처음 위치에서 50px 아래로 설정 */
    transition: opacity 1s ease, transform 1s ease; /* 1초 동안 애니메이션 */

    transition-delay: 0s; /* 첫 번째 박스는 바로 애니메이션 시작 */
}

#text02.visible {
    opacity: 1; /* visible 클래스가 추가되면 불투명도 1로 변경 */
    transform: translateY(0); /* 요소가 원래 위치로 올라옴 */
}

.text002 {
    font-size: 27px;
}

#g_ex_box02 {
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
    align-items: flex-start; /* 상단 정렬 (필요에 따라 center 또는 stretch 사용 가능) */
    gap: 79px;
    position: relative;
    width: 100%;
    margin-top: 30px;

    /* background-color: rgb(55, 95, 68); */
}

#text03 {
    position: relative;
    font-size: 17px;
    line-height: 150%;
    text-align: right;
    z-index: 10000;
    margin-top: 35px;

    color: rgb(255, 255, 255);
    opacity: 0; /* 처음에는 불투명도 0으로 설정 */
    transform: translateX(-100px); /* 처음 위치에서 50px 아래로 설정 */
    transition: opacity 1s ease, transform 1s ease; /* 1초 동안 애니메이션 */

    transition-delay: 0.5s; /* 첫 번째 박스는 바로 애니메이션 시작 */
}

#text03.visible {
    opacity: 1; /* visible 클래스가 추가되면 불투명도 1로 변경 */
    transform: translateY(0); /* 요소가 원래 위치로 올라옴 */
}

.text003 {
    font-size: 27px;
}

#box03 {
    position: relative;
    width: 460px;
    height: 280px;
    background-color: rgb(41, 47, 65);
    opacity: 0; /* 처음에는 불투명도 0으로 설정 */
    transform: translateX(100px); /* 처음 위치에서 50px 아래로 설정 */
    transition: opacity 1s ease, transform 1s ease; /* 1초 동안 애니메이션 */

    transition-delay: 0.5s; /* 첫 번째 박스는 바로 애니메이션 시작 */
}

#box03.visible {
    opacity: 1; /* visible 클래스가 추가되면 불투명도 1로 변경 */
    transform: translateY(0); /* 요소가 원래 위치로 올라옴 */
}

#g_ex_box03 {
    display: flex;
    justify-content: flex-start;
    gap: 79px;
    position: relative;
    width: 100%;
    margin-top: 30px;
    /* background-color: rgb(54, 97, 97); */
}

#box04 {
    position: relative;
    width: 460px;
    height: 280px;
    background-color: rgb(41, 47, 65);
    opacity: 0; /* 처음에는 불투명도 0으로 설정 */
    transform: translateX(-100px); /* 처음 위치에서 50px 아래로 설정 */
    transition: opacity 1s ease, transform 1s ease; /* 1초 동안 애니메이션 */

    transition-delay: 1s; /* 첫 번째 박스는 바로 애니메이션 시작 */
    overflow: hidden;
}

.box04 img {
    width: 100%;  /* 부모 박스에 맞게 너비를 조정 */
    height: 100%; /* 부모 박스에 맞게 높이를 조정 */
    object-fit: contain; /* 이미지가 비율을 유지하면서 박스 안에 맞게 들어가도록 설정 */
    object-position: center; /* 이미지가 잘리지 않게 중앙으로 위치 */
}

#box04.visible {
    opacity: 1; /* visible 클래스가 추가되면 불투명도 1로 변경 */
    transform: translateY(0); /* 요소가 원래 위치로 올라옴 */
}

#text04 {
    position: relative;
    font-size: 17px;
    line-height: 150%;
    text-align: left;
    z-index: 10000;
    color: rgb(255, 255, 255);
    /* background-color: rgb(82, 74, 64); */
    opacity: 0; /* 처음에는 불투명도 0으로 설정 */
    transform: translateX(100px); /* 처음 위치에서 50px 아래로 설정 */
    transition: opacity 1s ease, transform 1s ease; /* 1초 동안 애니메이션 */

    transition-delay: 1s; /* 첫 번째 박스는 바로 애니메이션 시작 */
}

#text04.visible {
    opacity: 1; /* visible 클래스가 추가되면 불투명도 1로 변경 */
    transform: translateY(0); /* 요소가 원래 위치로 올라옴 */
}

.text004 {
    font-size: 27px;
}

/* ------ 소속 소개 ------ */

#profile {
    position: relative;
    margin: 0 auto;
    margin-top: 300px;
    width: 980px;
    height: 1100px;
    /* background-color: rgb(26, 26, 26); */
    opacity: 0; /* 처음에는 불투명도 0으로 설정 */
    transform: translateY(50px); /* 처음 위치에서 50px 아래로 설정 */
    transition: opacity 1s ease, transform 1s ease; /* 1초 동안 애니메이션 */
}

#profile.visible {
    opacity: 1; /* visible 클래스가 추가되면 불투명도 1로 변경 */
    transform: translateY(0); /* 요소가 원래 위치로 올라옴 */
}

#p_title_box {
    position: relative;
    width: 100%;
    height: 170px;
    /* background-color: rgb(95, 130, 118); */
}

#title03 {
    position: absolute;
    font-size: 55px;
    margin: 0 auto;
    text-align: center;
    width: 300px;
    top: 85px;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    z-index: 10000;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

#p_line {
    position: absolute;
    width: 82%;
    height: 37px;
    top: 85px;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    /* background-color: rgb(35, 35, 35); */
    background: url('img/T_문양.png') center/contain no-repeat;
}

#A_button01 {
    position: absolute;
    width: 95%;;
    height: 633px;
    z-index: 10000;
    top: 517px;
    left: 50%;
    color: rgb(210, 210, 210);
    transform: translate(-50%, -50%); /* 위치 조정 */
    /* background-color: blueviolet; */
    pointer-events: none;
}

#L_button01 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 80px;
    height: 633px;
    padding: 0;
    margin: 0;
    /* background-color: rgb(146, 140, 133); */
    pointer-events: auto;
}

#R_button01 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 80px;
    height: 633px;
    right: 0;
    padding: 0;
    margin: 0;
    /* background-color: rgb(146, 140, 133); */
    pointer-events: auto;
}

.material-icons {
    font-size: 70px !important;
}
.material-icons:hover {
    color:rgb(66, 203, 221);
}

#pro_boxA{
    position: relative;
    display: flex;
    justify-content: center; /* flex 아이템을 메인축(가로) 방향으로 가운데 정렬 */
    /* flex-wrap: wrap; */
    width: 940px;
    margin-top: 30px;
    margin-left: 50%;
    transform: translate(-50%, 0%); /* 위치 조정 */
}


/* 초기 상태에서 요소가 화면 밖에서 시작되도록 설정 */
.Pro_box01 {
    width: 17%; /* 너비 설정 */
    height: 540px; /* 높이 설정 */
    line-height: 10%; /* 수직 중앙 정렬 */
    background-color: rgb(41, 47, 65); /* 배경색 설정 */
    margin: 0 8.7px;
    overflow: hidden;
    opacity: 0; /* 처음에는 불투명도 0으로 설정 */
    transform: translateY(50px); /* 초기 위치 설정: 화면 밖으로 설정 */
    transition: opacity 1s ease, transform 1s ease; /* 1초 동안 애니메이션 */
    pointer-events: auto; /* 클릭 가능하도록 변경 */
    z-index: 1; /* 클릭 우선순위 확보 */
}

.clip {
    clip-path: polygon(0% 0%, 100% 17%, 100% 100%, 0% 83%); /* 사다리꼴 모양 */
}

#pro_boxA img {
    width: 100%;
}

.clip2 {
    margin-top: 10%;
    clip-path: polygon(0% 17%, 100% 0%, 100% 83%, 0% 100%); /* 사다리꼴 모양 */
    transform: translateY(-50px); /* 아래에서 100px 떨어져서 나타남 */
}

/* 스크롤 이벤트에 따라 변하는 스타일 */
.visible {
    opacity: 1;
    transform: translateY(0); /* 원래 자리로 돌아옴 */
}

#p_d_box {
    position: relative;
    margin-top: 80px;
    width: 100%;
    height: 150px;
    /* background-color: rgb(82, 50, 50); */
}

#d_text01 {
    position: absolute;
    font-size: 25px;
    top: 75px;
    left: 50%;
    transform: translate(-50%, -50%); /* 위치 조정 */
    z-index: 10000;
    color: rgb(255, 255, 255);
}

#d_button01 {
    position: absolute;
    width: 315px;
    height: 80px;
    top: 75px;
    left: 50%;
    transform: translate(-50%, -50%); /* 위치 조정 */
    border-radius: 50px;
    border: 2px solid white; /* 흰색 외각선 */
    background-color: transparent; /* 내부는 투명 */
}

/* ------ 플레이 사진 ------ */

#gameIMG {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 300px;
    width: 960px;
    height: 580px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}

#gameIMG.visible {
    opacity: 1;
    transform: translateY(0);
}

.swiper {
    position: relative;
    width: 760px;
    height: 500px;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-position: center;

}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #363a46;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#gameIMG_text01 {
    position: relative;
    width: 60%;
    font-size: 15px;
    margin-top: 15px;
    color: rgb(255, 255, 255);
    /* background-color: rgb(81, 74, 88); */
}

/* ------ 메이드 인 유니티 ------ */

#made_in {
    position: relative;
    margin: 0 auto;
    margin-top: 250px;
    width: 960px;
    height: 300px;
    /* background-color: rgb(28, 28, 28); */
    opacity: 0; /* 처음에는 불투명도 0으로 설정 */
    transform: translateY(50px); /* 처음 위치에서 50px 아래로 설정 */
    transition: opacity 1s ease, transform 1s ease; /* 1초 동안 애니메이션 */
}

#made_in.visible {
    opacity: 1; /* visible 클래스가 추가되면 불투명도 1로 변경 */
    transform: translateY(0); /* 요소가 원래 위치로 올라옴 */
}

#unityIMG {
    position: relative;
    top: 50%;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    width: 42%;
    height: 135px;
    overflow: hidden;
    background: url('img/unity\ logo\(W\).png') center/contain no-repeat;
    /* background-color: rgb(87, 75, 60); */
}

.unityIMG img {
    width: 100%;  /* 부모 박스에 맞게 너비를 조정 */
    height: 100%; /* 부모 박스에 맞게 높이를 조정 */
    object-fit: contain; /* 이미지가 비율을 유지하면서 박스 안에 맞게 들어가도록 설정 */
    object-position: center; /* 이미지가 잘리지 않게 중앙으로 위치 */
}

/* ------ 팀 화각 ------ */

#team {
    position: relative;
    margin: 0 auto;
    margin-top: 200px;
    width: 960px;
    height: 1200px;
    /* background-color: rgb(26, 26, 26); */
    opacity: 0; /* 처음에는 불투명도 0으로 설정 */
    transform: translateY(50px); /* 처음 위치에서 50px 아래로 설정 */
    transition: opacity 1s ease, transform 1s ease; /* 1초 동안 애니메이션 */
}

#team.visible {
    opacity: 1; /* visible 클래스가 추가되면 불투명도 1로 변경 */
    transform: translateY(0); /* 요소가 원래 위치로 올라옴 */
}

#t_title_box {
    position: relative;
    width: 100%;
    height: 170px;
    /* background-color: rgb(95, 130, 118); */
}

#title04 {
    position: absolute;
    font-size: 55px;
    margin: 0 auto;
    text-align: center;
    width: 290px;
    top: 85px;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    z-index: 10000;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

#t_line {
    position: absolute;
    width: 82%;
    height: 37px;
    top: 88px;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    /* background-color: rgb(91, 73, 73); */
    background: url('img/T_문양.png') center/contain no-repeat;
}
#team_P {
    position: relative;
    width: 100%;
    height: 1020px;
    z-index: 10000;
    /* background-color: rgb(70, 53, 53); */
}

#kim {
    position: absolute;
    left: 5%;
    width: 40%;
    height: 450px;
    top: 32px;
    overflow: hidden;
}

.pro_k {
    position: relative;
    width: 230px;
    height: 230px;
    top: 150px;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    /* background-color: rgb(215, 215, 215); */
}

.pro_k img {
    border-radius: 100%;
}

.name_k {
    position: relative;
    font-size: 12px;
    text-align: center;
    top: 60px;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    color: rgb(255, 255, 255);
}

.text_k {
    position: relative;
    font-size: 15px;
    text-align: center;
    top: 60px;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    color: rgb(255, 255, 255);
}

.text_k2 {
    position: relative;
    font-size: 15px;
    text-align: center;
    top: 60px;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    color: rgb(255, 255, 255);
}

#no {
    position: absolute;
    width: 40%;
    right: 5%;
    height: 450px;
    top: 32px;
    /* background-color: rgb(65, 65, 65); */
}

.pro_n {
    position: relative;
    width: 230px;
    height: 230px;
    top: 150px;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    border-radius: 100%;
    background: url("img/프로필/no/카피바라.png") 100%/contain no-repeat;
}

.name_n {
    position: relative;
    font-size: 12px;
    text-align: center;
    top: 60px;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    color: rgb(255, 255, 255);
}

.text_n {
    position: relative;
    font-size: 15px;
    text-align: center;
    top: 60px;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    color: rgb(255, 255, 255);
}

.text_n2 {
    position: relative;
    font-size: 15px;
    text-align: center;
    top: 60px;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    color: rgb(255, 255, 255);
}

#lee {
    position: absolute;
    left: 5%;
    width: 40%;
    height: 450px;
    top: 555px;
    /* background-color: rgb(65, 65, 65); */
}

.pro_l {
    position: relative;
    width: 230px;
    height: 230px;
    top: 150px;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    border-radius: 100%;
    background: url("img/프로필/lee/Lee_프로필.png") 100%/contain no-repeat;
}

.name_l {
    position: relative;
    font-size: 12px;
    text-align: center;
    top: 60px;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    color: rgb(255, 255, 255);
}

.text_l {
    position: relative;
    font-size: 15px;
    text-align: center;
    top: 60px;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    color: rgb(255, 255, 255);
}

.text_l2 {
    position: relative;
    font-size: 15px;
    text-align: center;
    top: 60px;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    color: rgb(255, 255, 255);
    text-decoration: line-through;
}

#lee2 {
    position: absolute;
    right: 5%;
    width: 40%;
    height: 450px;
    top: 555px;
    /* background-color: rgb(65, 65, 65); */
}

.pro_j {
    position: relative;
    width: 230px;
    height: 230px;
    top: 150px;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    border-radius: 100%;
    background: url("img/프로필/lee2/프로필\(o\).png") 100%/contain no-repeat;
}

.name_j {
    position: relative;
    font-size: 12px;
    text-align: center;
    top: 60px;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    color: rgb(255, 255, 255);
}

.text_j {
    position: relative;
    font-size: 15px;
    text-align: center;
    top: 60px;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    color: rgb(255, 255, 255);
}

.text_j2 {
    position: relative;
    font-size: 15px;
    text-align: center;
    top: 60px;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    color: rgb(255, 255, 255);
    text-decoration: line-through;
}

/* ------ 팀 로고 ------ */

#G_logo {
    position: relative;
    margin: 0 auto;
    margin-top: 300px;
    margin-bottom: 70px;
    width: 59%;
    height: 300px;
    background-color: rgb(26, 26, 26);
    opacity: 0; /* 처음에는 불투명도 0으로 설정 */
    transform: translateY(50px); /* 처음 위치에서 50px 아래로 설정 */
    transition: opacity 1s ease, transform 1s ease; /* 1초 동안 애니메이션 */
}

#G_logo.visible {
    opacity: 1; /* visible 클래스가 추가되면 불투명도 1로 변경 */
    transform: translateY(0); /* 요소가 원래 위치로 올라옴 */
}

#text06 {
    position: relative;
    font-size: 60px;
    margin: 0 auto;
    text-align: center;
    top: 50%;
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 위치 조정 */
    color: rgb(255, 255, 255);
}





@media screen and (max-width: 1390px) {
    
    #menu_t {
        right: 80px;
    }

    #box01 {
        padding-top: 0px;
        width: 100%;
        height: 800px;
    }

    #story {
        margin-top: 200px;
        width: 460px;
        height: 790px;
    }
    
    #gameEX {
        width: 460px;
        height: 2000px;
        margin-top: 150px;
    }

    #g_ex_box01 {
        flex-direction: column;
        margin-top: 30px;
    }

    #text02 {
        margin-top: 0px;
    }

    #g_ex_box02 {
        flex-direction: column-reverse;
    }

    #text03 {
        margin-top: 0px;
        text-align: left;
    }

    #g_ex_box03 {
        flex-direction: column;
    }

    #text04 {
        margin-top: 0px;
    }

    #profile {
        width: 460px;
        height: 735px;
        margin-top: 150px;
    }

    #A_button01 {
        width: 460px;
        height: 475px;
        top: 270px;
        left: 50%;
        /* background-color: bisque; */
    }

    #L_button01 {
        width: 40px;
        height: 475px;
        margin-top: 70px;
        /* background-color: blueviolet; */
    }
    
    #R_button01 {
        width: 40px;
        height: 475px;
        margin-top: 70px;
    }

    #pro_boxA{
        position: relative;
        display: flex;
        justify-content: center; /* flex 아이템을 메인축(가로) 방향으로 가운데 정렬 */
        /* flex-wrap: wrap; */
        width: 460px;
        margin-top: 30px;
        margin-left: 50%;
        transform: translate(-50%, 0%); /* 위치 조정 */
    }

    .Pro_box01 {
        width: 17%; /* 너비 설정 */
        height: 280px; /* 높이 설정 */
        line-height: 10%; /* 수직 중앙 정렬 */
        background-color: rgb(29, 39, 30); /* 배경색 설정 */
        margin: 0 8.7px;
    }

    .Pro_box01 img {
        width: 100%;  /* 부모 박스에 맞게 너비를 조정 */
        height: 100%; /* 부모 박스에 맞게 높이를 조정 */
        object-position: center; /* 이미지가 잘리지 않게 중앙으로 위치 */
    }

    #p_d_box {
        position: relative;
        margin-top: 30px;
        width: 100%;
        height: 150px;
    }
    
    #d_text01 {
        font-size: 20px;
    }
    
    #d_button01 {
        width: 175px;
        height: 60px;
    }
    

    #gameIMG {
        align-items: flex-start;
        width: 460px;
        height: 340px;
        margin-top: 150px;
    }

    .swiper {
        width: 460px;
        height: 280px;
    }

    #gameIMG_text01 {
        left: 0px;
        /* background-color: aquamarine; */
    }

    #made_in {
        width: 460px;
        height: 300px;
        margin-top: 150px;
    }

    #unityIMG {
        width: 300px;
        height: 100px;
        background-color: rgb(87, 75, 60);
        background: url('img/unity\ logo\(W\)_s.png') center/contain no-repeat;
    }

    #team {
        width: 460px;
        height: 2000px;
        margin-top: 150px;
    }

    #kim {
        position: relative;
        left: 0px;
        top: 0px;
        width: 460px;
        height: 450px;
        overflow: hidden;
    }

    #no {
        position: relative;
        width: 460px;
        left: 0px;
        top: 0px;
        height: 450px;
        /* background-color: rgb(65, 65, 65); */
    }

    #lee {
        position: relative;
        left: 0px;
        top: 0px;
        width: 460px;
        height: 450px;
        /* background-color: rgb(65, 65, 65); */
    }

    #lee2 {
        position: relative;
        left: 0px;
        top: 0px;
        width: 460px;
        height: 450px;
        /* background-color: rgb(65, 65, 65); */
    }

    #G_logo {
        width: 460px;
        height: 200px;
        margin-top: 150px;
    }

}


@media screen and (max-width: 900px) {
    
    #menu_t {
        right: 80px;
    }

    #box01 {
        margin: 0 auto;
        position: relative;
        padding-top: 0px;
        width: 100%;
        height: 450px;
    }

    #G_logo {
        margin: 0 auto;
        width: 460px;
        height: 200px;
        margin-top: 150px;
    }
}

@media screen and (max-width: 550px) {

    #box01 {
        padding-top: 0px;
        width: 400px;
        height: 800px;
    }

    #story {
        left: 60px;
        margin-top: 200px;
        width: 400px;
        height: 860px;
        background-color: #363a46;
    }

    #s_title_box {
        height: 155px;
    }

    #title01 {
        font-size: 38px;
        width: 140px;
    }
    
    #gameEX {
        left: 40px;
        width: 400px;
        height: 2000px;
        margin-top: 150px;
    }

    #title02 {
        font-size: 38px;
        width: 180px;
        top: 85px;
        z-index: 10000;
    }

    #g_ex_box01 {
        flex-direction: column;
        margin-top: 30px;
    }

    #box02 {
        width: 400px;
    }

    #text02 {
        margin-top: 0px;
    }

    #g_ex_box02 {
        flex-direction: column-reverse;
    }

    #box03 {
        width: 400px;
    }

    #text03 {
        margin-top: 0px;
        text-align: left;
    }

    #g_ex_box03 {
        flex-direction: column;
    }

    #box04 {
        width: 400px;
    }

    #text04 {
        margin-top: 0px;
    }

    #profile {
        left: 20px;
        width: 460px;
        height: 735px;
        margin-top: 150px;
    }

    #A_button01 {
        width: 460px;
        height: 475px;
        top: 270px;
        left: 50%;
        /* background-color: bisque; */
    }

    #L_button01 {
        width: 40px;
        height: 475px;
        margin-top: 70px;
        /* background-color: blueviolet; */
    }
    
    #R_button01 {
        width: 40px;
        height: 475px;
        margin-top: 70px;
    }

    #pro_boxA{
        position: relative;
        display: flex;
        justify-content: center; /* flex 아이템을 메인축(가로) 방향으로 가운데 정렬 */
        /* flex-wrap: wrap; */
        width: 460px;
        margin-top: 30px;
        margin-left: 50%;
        transform: translate(-50%, 0%); /* 위치 조정 */
    }

    .Pro_box01 {
        width: 17%; /* 너비 설정 */
        height: 280px; /* 높이 설정 */
        line-height: 10%; /* 수직 중앙 정렬 */
        background-color: rgb(29, 39, 30); /* 배경색 설정 */
        margin: 0 8.7px;
    }

    .Pro_box01 img {
        width: 100%;  /* 부모 박스에 맞게 너비를 조정 */
        height: 100%; /* 부모 박스에 맞게 높이를 조정 */
        object-position: center; /* 이미지가 잘리지 않게 중앙으로 위치 */
    }

    #p_d_box {
        position: relative;
        margin-top: 30px;
        width: 100%;
        height: 150px;
    }
    
    #d_text01 {
        font-size: 20px;
    }
    
    #d_button01 {
        width: 175px;
        height: 60px;
    }
    

    #gameIMG {
        align-items: flex-start;
        width: 400px;
        height: 320px;
        margin-top: 150px;
        left: 30px;
    }

    .swiper {
        width: 460px;
        height: 280px;
    }

    #gameIMG_text01 {
        left: 0px;
        /* background-color: aquamarine; */
    }

    #made_in {
        left: 10px;
        width: 460px;
        height: 300px;
        margin-top: 150px;
    }

    #unityIMG {
        width: 300px;
        height: 100px;
        background-color: rgb(87, 75, 60);
        background: url('img/unity\ logo\(W\)_s.png') center/contain no-repeat;
    }

    #team {
        left: 20px;
        width: 460px;
        height: 2000px;
        margin-top: 150px;
    }

    #kim {
        position: relative;
        left: 0px;
        top: 0px;
        width: 460px;
        height: 450px;
        overflow: hidden;
    }

    #no {
        position: relative;
        width: 460px;
        left: 0px;
        top: 0px;
        height: 450px;
        /* background-color: rgb(65, 65, 65); */
    }

    #lee {
        position: relative;
        left: 0px;
        top: 0px;
        width: 460px;
        height: 450px;
        /* background-color: rgb(65, 65, 65); */
    }

    #lee2 {
        position: relative;
        left: 0px;
        top: 0px;
        width: 460px;
        height: 450px;
        /* background-color: rgb(65, 65, 65); */
    }

    #G_logo {
        left: 20px;
        width: 460px;
        height: 200px;
        margin-top: 150px;
    }

}